{
  "ShaderfxShader": "SHS", 
  "StingrayPBS": "SPB", 
  "addDoubleLinear": "ADL", 
  "addMatrix": "AMM", 
  "adskMaterial": "ADM", 
  "aimConstraint": "AMC", 
  "airField": "ARF", 
  "ambientLight": "AML", 
  "angleBetween": "ANB", 
  "anisotropic": "AIS", 
  "annotationShape": "ANS", 
  "apfEntityNode": "AEN", 
  "arcLengthDimension": "ALD", 
  "areaLight": "ARL", 
  "arrayMapper": "ARM", 
  "assemblyDefinition": "ASD", 
  "assemblyReference": "ASR", 
  "baseLattice": "BSL", 
  "bezierCurve": "BZC", 
  "bifrostAeroMaterial": "BAM", 
  "bifrostContainer": "BFC", 
  "bifrostFoamMaterial": "BFM", 
  "bifrostLiquidMaterial": "BLM", 
  "bifrostShape": "BFS", 
  "blendColors": "BLC", 
  "blendTwoAttr": "BTA", 
  "blinn": "BLN", 
  "brownian": "BRW", 
  "bulge": "BLG", 
  "bump2d": "BMP", 
  "bump3d": "BUP", 
  "cMuscleDirection": "CUD", 
  "cMuscleDisplace": "CMD", 
  "cMuscleDisplay": "CSD", 
  "cMuscleFalloff": "CMF", 
  "cMuscleObject": "CMO", 
  "cMuscleShader": "CCS", 
  "cMuscleSmartCollide": "CUS", 
  "cMuscleSpline": "CMS", 
  "cMuscleSurfAttach": "CSS", 
  "camera": "CMR", 
  "checker": "CEC", 
  "choice": "CHC", 
  "chooser": "CHS", 
  "clamp": "CLM", 
  "clipGhostShape": "CGS", 
  "cloth": "CLT", 
  "cloud": "CLD", 
  "clusterFlexorShape": "CFS", 
  "clusterHandle": "CLH", 
  "colorProfile": "CLP", 
  "composeMatrix": "CMM", 
  "condition": "CND", 
  "contrast": "CNT", 
  "crater": "CRT", 
  "curveInfo": "CRI", 
  "curveVarGroup": "CVG", 
  "dagContainer": "DGC", 
  "decomposeMatrix": "DCM", 
  "deformBend": "DFB", 
  "deformFlare": "DFF", 
  "deformSine": "DFS", 
  "deformSquash": "DES", 
  "deformTwist": "DFT", 
  "deformWave": "DFW", 
  "directedDisc": "DRD", 
  "directionalLight": "DRL", 
  "displacementShader": "DII", 
  "distanceBetween": "DSB", 
  "distanceDimShape": "DDS", 
  "doubleShadingSwitch": "DSS", 
  "dragField": "DRF", 
  "dropoffLocator": "DOL", 
  "dynamicConstraint": "DYC", 
  "envBall": "ENB", 
  "envChrome": "ENC", 
  "envCube": "EVC", 
  "envFacade": "ENF", 
  "envFog": "EVF", 
  "envSky": "EVS", 
  "envSphere": "ENS", 
  "eulerToQuat": "ETQ", 
  "file": "FIE", 
  "flexorShape": "FLS", 
  "fluidEmitter": "FLE", 
  "fluidShape": "FUS", 
  "fluidTexture2D": "FTD", 
  "fluidTexture3D": "FLD", 
  "follicle": "FLL", 
  "fosterParent": "FSP", 
  "fourByFourMatrix": "FBF", 
  "fractal": "FRC", 
  "frameCache": "FAC", 
  "gammaCorrect": "GMC", 
  "geometryVarGroup": "GVG", 
  "gpuCache": "GPC", 
  "granite": "GRN", 
  "gravityField": "GRF", 
  "greasePlaneRenderShape": "GPR", 
  "grid": "GRD", 
  "group": "GRP",
  "hairConstraint": "HRC", 
  "hairSystem": "HRS", 
  "hairTubeShader": "HTS", 
  "heightField": "HGF", 
  "hikEffector": "HKE", 
  "hikFKJoint": "HFK", 
  "hikFloorContactMarker": "HFC", 
  "hikGroundPlane": "HGP", 
  "hikIKEffector": "HIK", 
  "hsvToRgb": "HTR", 
  "igmDescription": "IGD", 
  "ikEffector": "IKE", 
  "ikHandle": "IKH", 
  "imagePlane": "IMP", 
  "implicitBox": "IMB", 
  "implicitCone": "IMC", 
  "implicitSphere": "IMS", 
  "instancer": "INS", 
  "inverseMatrix": "INM", 
  "joint": "JNT", 
  "lambert": "LMB", 
  "lattice": "LTT", 
  "layeredShader": "LYS", 
  "layeredTexture": "LYT", 
  "leather": "LTH", 
  "lightFog": "LGF", 
  "lightInfo": "LGI", 
  "lineModifier": "LNM", 
  "locator": "LOC", 
  "lodGroup": "LDG", 
  "lookAt": "LKA", 
  "luminance": "LMN", 
  "mandelbrot": "MND", 
  "mandelbrot3D": "MAD", 
  "marble": "MRB", 
  "materialFacade": "MTF", 
  "mesh": "MSH", 
  "meshVarGroup": "MVG", 
  "motionTrailShape": "MTS", 
  "mountain": "MNT", 
  "movie": "MVE", 
  "multDoubleLinear": "MDL", 
  "multMatrix": "MLM", 
  "multiplyDivide": "MLD", 
  "nCloth": "NCL", 
  "nParticle": "NPR", 
  "nRigid": "NRG", 
  "newtonField": "NWF", 
  "noise": "NSE", 
  "nucleus": "NUL", 
  "nurbsCurve": "NRC", 
  "nurbsSurface": "NRS", 
  "ocean": "OCN", 
  "oceanShader": "OCS",
  "offset": "OFF",
  "orientationMarker": "ORM", 
  "paramDimension": "PRD", 
  "particle": "PRT", 
  "particleCloud": "PRC", 
  "particleSamplerInfo": "PSI", 
  "pfxHair": "PFH", 
  "pfxToon": "PXT", 
  "phong": "PHN", 
  "phongE": "PHE", 
  "place2dTexture": "PLT", 
  "place3dTexture": "PAT", 
  "plusMinusAverage": "PMA", 
  "pointEmitter": "PNE", 
  "pointLight": "PNL", 
  "pointMatrixMult": "PMM", 
  "pointOnCurveInfo": "POC", 
  "pointOnSurfaceInfo": "POS", 
  "positionMarker": "PSM", 
  "projection": "PRJ", 
  "psdFileTex": "PFT", 
  "quadShadingSwitch": "QSS", 
  "quatAdd": "QTA", 
  "quatConjugate": "QTC", 
  "quatInvert": "QTI", 
  "quatNegate": "QTN", 
  "quatNormalize": "QUN", 
  "quatProd": "QTP", 
  "quatSub": "QTS", 
  "quatToEuler": "QTE", 
  "radialField": "RDF", 
  "ramp": "RMP", 
  "rampShader": "RMS", 
  "remapColor": "RMC", 
  "remapHsv": "RMH", 
  "remapValue": "RMV", 
  "renderBox": "RNB", 
  "renderCone": "RNC", 
  "renderSphere": "RNS", 
  "reverse": "RVR", 
  "rgbToHsv": "RTH", 
  "rigidBody": "RGB", 
  "rigidConstraint": "RGC", 
  "rock": "RCK", 
  "samplerInfo": "SMI", 
  "setRange": "STR", 
  "shadingMap": "SHM", 
  "shrinkWrap": "SHW", 
  "singleShadingSwitch": "SSS", 
  "sketchPlane": "SKP", 
  "smear": "SMR", 
  "snapshotShape": "SNS", 
  "snow": "SNW", 
  "softModHandle": "SMH", 
  "solidFractal": "SLF", 
  "spotLight": "SPL", 
  "spring": "SPR", 
  "stencil": "STN", 
  "stereoRigCamera": "SRC", 
  "stroke": "SRR", 
  "stucco": "STC", 
  "studioClearCoat": "SCC", 
  "subdiv": "SBD", 
  "subdivSurfaceVarGroup": "SSV", 
  "substanceOutput": "SBO", 
  "surfaceInfo": "SRI", 
  "surfaceLuminance": "SRL", 
  "surfaceShader": "SRS", 
  "surfaceVarGroup": "SVG", 
  "textureDeformerHandle": "TDH", 
  "transform": "TRN", 
  "transposeMatrix": "TRM", 
  "tripleShadingSwitch": "TSS", 
  "turbulenceField": "TRF", 
  "uniformField": "UNF", 
  "unitConversion": "UNC", 
  "unknownTransform": "UNT", 
  "useBackground": "USB", 
  "uvChooser": "UVC", 
  "vectorProduct": "VCP", 
  "volumeAxisField": "VAF", 
  "volumeFog": "VLF", 
  "volumeLight": "VLL", 
  "volumeNoise": "VLN", 
  "volumeShader": "VLS", 
  "vortexField": "VRF", 
  "water": "WTR", 
  "wire": "WRE", 
  "wood": "WOD", 
  "wrap": "WRP", 
  "wtAddMatrix": "WAM", 
  "xgmArchiveGuide": "XAG", 
  "xgmCardGuide": "XCG", 
  "xgmConnectivity": "XGC", 
  "xgmDescription": "XGD", 
  "xgmNurbsPatch": "XNP", 
  "xgmPalette": "XGP", 
  "xgmPointsViewer": "XPV", 
  "xgmSphereGuide": "XGG", 
  "xgmSplineGuide": "XSG", 
  "xgmSubdPatch": "XSP"
}